rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function isOwner(userId) {
      return request.auth != null && request.auth.uid == userId;
    }

    // User Profile: a user can read/write to their own profile
    match /users/{userId} {
      allow read, delete: if isOwner(userId);
      allow create, update: if isOwner(userId) &&
        request.resource.data.name is string &&
        request.resource.data.avatar is string &&
        request.resource.data.avatarType is string &&
        // optional fields
        (!request.resource.data.keys().hasAny(['unlockedAnimalIds']) || request.resource.data.unlockedAnimalIds is list);
    }

    // Diary Entries: a user can CRUD their own diary entries
    match /users/{userId}/diaryEntries/{diaryEntryId} {
      allow read, delete: if isOwner(userId);
      allow create, update: if isOwner(userId)
        && request.resource.data.keys().hasAll(['userProfileId', 'emotionId', 'date', 'text'])
        && request.resource.data.size() == 4
        && request.resource.data.userProfileId == userId
        && request.resource.data.emotionId is string
        && request.resource.data.date is string
        && request.resource.data.text is string;
    }

    // Emotions: a user can CRUD their own custom emotions
    match /users/{userId}/emotions/{emotionId} {
      allow read, delete: if isOwner(userId);
      allow create, update: if isOwner(userId)
        && request.resource.data.keys().hasAll(['userProfileId', 'name', 'icon', 'color', 'description'])
        && request.resource.data.size() == 5
        && request.resource.data.userProfileId == userId
        && request.resource.data.name is string
        && request.resource.data.icon is string
        && request.resource.data.color is string
        && request.resource.data.description is string;
    }
  }
}
